@page
@model TasteRestaurant.Pages.Order.OrderConfirmationModel
@{
    ViewData["Title"] = "OrderConfirmation";
}

<h2>Página de confirmação do pedido</h2>
<br />

@if (Model.OrderDetailsViewModel.OrderHeader != null)
{
<div class="thumbnail row">
    @Html.Partial("_IndividualOrderDetails", Model.OrderDetailsViewModel)
</div>
<a asp-page="../Index" class="btn btn-sm btn-success">Faça outro pedido</a>
}
else
{
<div class="text-danger">Erro ... Por favor, tente novamente.</div>
}

